In [24]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [25]:
import sys
sys.path.insert(0,"loading/")
sys.path.insert(0,"preprocessing/")
sys.path.insert(0,"modeling/")
sys.path.insert(0,"evaluation/")
sys.path.insert(0,"interpretability/")
sys.path.insert(0,"monitoring/")
sys.path.insert(0,"utils/")


import loading
import preprocessing
import modeling
import evaluation
import interpretability
import monitoring 
import utils as u

import json 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#Package allowing to reload a package (or a script), without having to reload the whole notebook
#import importlib #no use if the magic commands in the first cell are working

In [26]:
# Here we find the parameters needed for the run. You have to launch this cell only if you do not launch the main script.

path_conf ="../params/conf/conf.json"

# path_conf ='../conf/conf.json'
conf = json.load(open(path_conf, 'r'))

path_log = conf['path_log'] # "../log/my_log_file.txt"
log_level = conf['log_level'] # "DEBUG"

# Be careful to launch the logger only once, otherwise each lines will be duplicated
logger = u.my_get_logger(path_log, log_level, my_name="main_logger")

In [27]:
#Reload of the conf file (useful when you do modifications)
conf = json.load(open(path_conf, 'r'))

## Loading and Preprocessing

In [28]:
#Reading of the dataset selected in the conf file
df = loading.read_csv_from_name(conf)

In [29]:
#Preprocessing of the selected dataset
df_preprocessed, X_columns, y_column = preprocessing.main_preprocessing_from_name(df, conf)

#Writting of the preprocessed dataset
loading.write_preprocessed_csv_from_name(df_preprocessed, conf)

'OK'

In [30]:
df_preprocessed.reset_index(inplace=True)
df_preprocessed.drop(["ID"], axis=1, inplace=True)

In [31]:
df_preprocessed

,Year_Birth,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,...,Marital_Status_Widow,Marital_Status_YOLO,Country_AUS,Country_CA,Country_GER,Country_IND,Country_ME,Country_SA,Country_SP,Country_US
0,1989.0,21474.0,1.0,0.0,0.0,6.0,16.0,24.0,11.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1979.0,62499.0,1.0,0.0,0.0,140.0,4.0,61.0,0.0,13.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1981.0,26872.0,0.0,0.0,0.0,3.0,10.0,8.0,3.0,16.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1977.0,54809.0,1.0,1.0,0.0,63.0,6.0,57.0,13.0,13.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1977.0,54809.0,1.0,1.0,0.0,63.0,6.0,57.0,13.0,13.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,1966.0,44794.0,0.0,1.0,99.0,5400.0,0.0,700.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2236,1962.0,62568.0,0.0,1.0,99.0,36200.0,1700.0,39800.0,8000.0,3500.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2237,1969.0,42231.0,1.0,1.0,99.0,2400.0,0.0,800.0,0.0,100.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2238,1900.0,36640.0,1.0,0.0,99.0,1500.0,600.0,800.0,700.0,400.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2239,1969.0,94871.0,0.0,2.0,99.0,16900.0,2400.0,55300.0,18800.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

#### OTHER ? UNDER - OVER SAMPLING

In [21]:
#Basic Splitting between train and test
df_train = df_preprocessed.loc[0:499, :]
X_train, X_test, y_train, y_test = preprocessing.basic_split(df_train , 0.20 , X_columns, y_column)

In [22]:
X_train

,Year_Birth,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,...,Marital_Status_Widow,Marital_Status_YOLO,Country_AUS,Country_CA,Country_GER,Country_IND,Country_ME,Country_SA,Country_SP,Country_US
249,1976.0,65991.0,0.0,1.0,21.0,507.0,19.0,364.0,25.0,47.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
433,1986.0,21846.0,1.0,0.0,38.0,7.0,17.0,18.0,6.0,10.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
19,1984.0,14796.0,1.0,0.0,1.0,13.0,3.0,8.0,7.0,4.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
322,1971.0,72258.0,0.0,1.0,28.0,522.0,0.0,522.0,227.0,120.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
332,1973.0,57906.0,0.0,1.0,29.0,243.0,11.0,119.0,10.0,3.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,1975.0,74165.0,0.0,0.0,9.0,1001.0,12.0,240.0,16.0,12.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
270,1977.0,31353.0,1.0,1.0,24.0,10.0,0.0,10.0,3.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
348,1973.0,63516.0,1.0,1.0,30.0,141.0,11.0,114.0,15.0,14.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
435,1982.0,27590.0,1.0,0.0,38.0,6.0,0.0,5.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
102,1975.0,34176.0,0.0,1.0,9.0,11.0,2.0,7.0,4.0,2.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

## Modeling

In [23]:
#Modelisation using the model selected in the conf file
clf, best_params = modeling.main_modeling_from_name(X_train,y_train,conf)

#Saving the model
u.save_model(clf, conf, version="_0")

Fitting 3 folds for each of 4 candidates, totalling 12 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  12 out of  12 | elapsed:    4.6s finished
[I 211020 13:46:27 utils:62] Modele sauvergarde: ../data/models/marketing_random_forest_0.sav

'OK'

## Evaluation

In [ ]:
#Independent step from the other, we reload what we need:

#Loading of the model
clf = u.load_model(conf)
#Loading of the preprocessed dataset
df = loading.load_preprocessed_csv_from_name(conf)

#Basic Splitting:
y_column = u.get_y_column_from_conf(conf)
X_columns = [x for x in df.columns if x != y_column ]
X_train, X_test, y_train, y_test = preprocessing.basic_split( df , 0.25 , X_columns, y_column)

In [ ]:
#Computing metrics
dict_metrics = evaluation.main_evaluation(clf, X_test, y_test, conf)
dict_metrics

## Interpretabily

## Monitoring

In [ ]:
# Loading what you need ... etc.